$color_1: #f9a827;
$color_2: #32ff52;
$color_3: #fabd70;
$color_4: #6b00c9;
$color_5: #4e00af;

body{
  font-size: 16px;
  overflow-y: auto !important;
  overflow-x:hidden;
}
script {
  display: none;
}
.item-object{
  position: relative;
  border: solid 2px #fff;
  margin: 10px 0;
  & a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
  }
  & a:hover:before {
    opacity: .5;
  }
  &:hover{
    border: solid 2px $color_1;
  }
  & span {
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    padding: 10px
  }
}

.nav {
  .active {
    background: #e1e1e1;
  }
}